--extra-index-url https://test.pypi.org/simple/
loguru==0.7.3
pytest-cov==7.0.0
pytest==8.4.2
coverage==7.6.9
pytest-assume==2.4.3
pytest-timeout==2.3.1
pytest-repeat==0.9.3
pytest-level==0.1.1
pytest-xdist==3.6.0
pytest-loguru==0.4.0
pytest-rerunfailures==14.0
git+https://github.com/Projectplace/pytest-tags
pytest-html==4.1.1
pytest-sugar==1.0.0
pytest-parallel
psycopg2-binary
transformers==4.56.1
anyio==4.10.0
torch
mock
pexpect
spacy
safetensors
typing_extensions>=4.6.0
stability-sdk
grpcio==1.74.0
protobuf==4.25.8
milvus==2.2.8
pymilvus==2.6.1
