sphinx
urllib3<2.0
pyqt5<5.13
pyqtwebengine<5.13
nbsphinx
autodoc_pydantic
myst_nb
sphinx-autobuild
sphinx_book_theme
sphinx_rtd_theme
sphinx-typlog-theme
sphinx-panels
sphinx_copybutton
pydata-sphinx-theme
m2r2
sphinx_toolbox
