name: Nightly CI

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    #        ┌───────────── minute (0 - 59)
    #        │ ┌───────────── hour (0 - 23)
    #        │ │ ┌───────────── day of the month (1 - 31)
    #        │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │ │ │ │ │
    #        │ │ │ │ │
    #        │ │ │ │ │
    - cron: "0 22 * * *"
  pull_request:
    branches:
      - main
      - dev
    paths:
      - '.github/workflows/Nightly_CI_main.yaml'

jobs:
  nightly-CI-gpt-cache-cli-main:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
    services:
      postgres:
        image: ankane/pgvector
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@main

      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
          cache: pip

      - name: Install dependency
        shell: bash
        run: |
          pip install -r requirements.txt

      - name: Build and install
        shell: bash
        run: |
          python setup.py install

      - name: Install test dependency
        shell: bash
        working-directory: tests
        run: |
          pip install -r requirements.txt

      - name: Download the `en_core_web_sm` model
        shell: bash
        working-directory: tests
        run: |
          python3 -m spacy download en_core_web_sm

      - name: Nightly CI Tests
        timeout-minutes: 30
        shell: bash
        working-directory: tests
        run: |
          export IS_CI=true
          export PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python
          python3 -m pytest ./ --tags L2
