name: Pylint
on:
  push:
    branches:
      - main
      - dev
      # file paths to consider in the event
    paths:
      - 'examples/**'
      - 'gptcache/**'
      - 'tests/**'
      - 'docs/**'
      - '!**.md'
      - '.github/workflows/**'
  pull_request:
    branches:
      - main
      - dev
      # file paths to consider in the event
    paths:
      - 'examples/**'
      - 'gptcache/**'
      - 'tests/**'
      - 'docs/**'
      - '!**.md'
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  pylint:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3.0.0
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - name: Python pylint
      run: |
        pip install pylint==2.10.2
        make pylint_check
    - name: Make the readthedoc html
      shell: bash
      working-directory: docs
      run: |
        pip install -r requirements.txt
        make html
